<!DOCTYPE html>
<html lang="en">
<head>
    <!--注意导入<script>标签的注意事项:复制下面的 <script> 标签 粘贴到页面底部，
    并且是在 </body> 标签之前，就能起作用了。注意，顺序很重要，不能错，
    首先是 jQuery，然后是 Popper，最后是我们自己的 JavaScript 插件。-->
    <meta charset="UTF-8">
    <title>西湖张万森的Blog</title>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap-4.6.1/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/base.css">
    <script src="/static/js/jquery-3.6.0.min.js"></script>
    <script src="/static/bootstrap-4.6.1/js/bootstrap.js"></script>
    <script src="/static/js/register_login.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <style></style>
</head>
<body>
<!--    顶部logo和slogan区域-->
<div class="header">
    <div class="container" style="height: 80px; border: solid 0 red;padding: 0">
        <div class="row">
            <div class="col-5" style="padding-top: 5px"><img src="/static/img/3.jpg" width="230" alt="logo"/></div>
            <div class="col-7 d-none d-sm-block" style="text-align: right;border: solid 0 blue;padding-top: 15px">
                <h2>西湖张万森的Blog</h2>
            </div>
            <div class="col-7 d-sm-none" style="text-align: right;border: solid 0 blue;padding-top: 15px">
                <h2>Blog</h2>
            </div>
        </div>
    </div>
</div>
<!--菜单导航拦-->
<div class="menu">
    <div class="container" style="border: solid 0 red;padding: 0">
        <nav class="navbar navbar-expand-lg navbar-dark menu-bar" style="padding: 0">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="/">首页</a>
                    <!--                    <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>-->
                    {% for k,v in article_type.items() %}
                    <a class="nav-link" href="/type/{{k}}-1">{{v}}</a>
                    {% endfor %}
                </div>
                <!--ml-auto类属性设置菜单项靠右对齐-->
                <div class="navbar-nav ml-auto">
                    {% if session.get('islogin') == 'true'%}
                    <a class="nav-link" href="#">欢迎您：{{session.get('nickname')}}</a>
                    &nbsp;&nbsp;&nbsp;
                    <a class="nav-link" href="/user/logout">注销</a>
                    <a class="nav-link" href="#">用户中心</a>
                    <a class="nav-link" href="/article/post">发表文章</a>
                    {% else %}
                    <a class="nav-link " href="#" onclick="showLogin()">登录 </a>
                    <a class="nav-link" href="#" onclick="showReg()">注册</a>
                    {% endif %}
                </div>
            </div>
        </nav>
    </div>
</div>

<!--中部区域-->
{% block content %}
{% endblock %}
<!--底部内容-->
<div class="container-fluid footer">
    <div class="container">
        <div class="row">
            <div class="col-4 left">
                <p>版权所有© sobermh</p>
                <p>that's crazy</p>
                <p>...</p>
            </div>
            <div class="col-4 center">
                <p>友情链接</p>
                <p>
                    <a href="">源码地址</a>
                    <a href="https://blog.csdn.net/sober30?spm=1000.2115.3001.5343">CSDN地址</a>
                <p>...</p>
                </p>
            </div>
            <div class="col-4 right">
                <p>social media</p>
                <p>
                    <label>qq:409788696</label>
                <p>...</p>
                </p>
            </div>
        </div>
    </div>
</div>


<!--登录和注册模态框-->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- 在模态框内部配置Tab选项卡，用于切换登录和注册窗口 -->
            <div class="tabbable" id="tabs" style="background-color: #337AB7; height: 50px;padding: 5px 20px;">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                </button>
                <!-- 与登录和注册窗口的ID进行关联 -->
                <ul class="nav nav-tabs" role="tablist">
                    <li id="login" class="nav-item">
                        <a href="#loginpanel" data-toggle="tab" class="nav-link " style="color: midnightblue">登录</a>
                    </li>
                    <li id="reg" class="nav-item active">
                        <a href="#regpanel" data-toggle="tab" class="nav-link "
                           style="color: midnightblue">注册</a>
                    </li>
                    <li id="find" class="nav-item">
                        <a href="#findpanel" data-toggle="tab" class="nav-link "
                           style="color: midnightblue">找回密码</a>
                    </li>
                </ul>
            </div>

            <div class="tab-content">
                <!-- 绘制登录窗口 -->
                <div class="tab-pane container" id="loginpanel">
                    <div class="modal-content" style="margin: 20px 0px;">
                        <div class="modal-body">
                            <div class="form-group row" style="margin-top: 20px;">
                                <label for="loginname" class="col-4">&nbsp;&nbsp;登录邮箱：</label>
                                <input type="text" id="loginname" class="form-control col-7"
                                       placeholder="请输入你的邮箱地址">
                            </div>
                            <div class="form-group row">
                                <label for="loginpass" class="col-4">&nbsp;&nbsp;登录密码：</label>
                                <input type="password" id="loginpass" class="form-control col-7"
                                       placeholder="请输入你的登录密码">
                            </div>
                            <div class="form-group row">
                                <label for="logincode" class="col-4"> &nbsp;&nbsp;图片验证码：</label>
                                <input type="text" id="logincode" class="form-control col-5"
                                       placeholder="请输入右侧的验证码" onkeyup="doLogin(event)">
                                <img src="/user/vcode" id="loginvcode" class="col-3" style="cursor:pointer;"
                                     onclick="this.src='/user/vcode?'+Math.random()">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-dark" data-dismiss="modal">关闭</button>
                            <button type="button" class="btn btn-primary" onclick="doLogin(null)">登录</button>
                        </div>
                    </div>
                </div>

                <!-- 绘制注册窗口 -->
                <div class="tab-pane container active" id="regpanel">
                    <div class="modal-content">
                        <div class="modal-content" style="margin: 20px 0px;">
                            <div class="modal-body">
                                <div class="form-group row" style="margin-top: 20px;">
                                    <label for="regname" class="col-4">&nbsp;&nbsp;注册邮箱：</label>
                                    <input type="text" id="regname" class="form-control col-7"
                                           placeholder="请输入你的邮箱地址">
                                </div>
                                <div class="form-group row">
                                    <label for="regpass" class="col-4">&nbsp;&nbsp;注册密码：</label>
                                    <input type="password" id="regpass" class="form-control col-7"
                                           placeholder="请输入你的注册密码">
                                </div>
                                <div class="form-group row">
                                    <label for="regcode" class="col-4">&nbsp;&nbsp;邮箱验证码：</label>
                                    <input type="text" id="regcode" class="form-control col-4"
                                           placeholder="请输入邮箱验证码,不区分大小写" onkeyup="doReg(event)">
                                    <button type="button" class="btn btn-primary col-3" onclick="doSendMail(this)">
                                        发送邮件
                                    </button>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <span>注册时请使用邮箱地址，便于找回密码。&nbsp;&nbsp;</span>
                                <button type="button" class="btn btn-dark" data-dismiss="modal">关闭</button>
                                <button type="button" class="btn btn-primary" onclick="doReg(null)">注册</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 绘制找回密码窗口 -->
                <div class="tab-pane container" id="findpanel">
                    <div class="modal-content">
                        <div class="modal-content" style="margin: 20px 0px;">
                            <div class="modal-body">
                                <div class="form-group row" style="margin-top: 20px;">
                                    <label for="username" class="col-4">&nbsp;&nbsp;注册邮箱：</label>
                                    <input type="text" id="username" class="form-control col-7"
                                           placeholder="请输入你的邮箱地址">
                                </div>
                                <div class="form-group row">
                                    <label for="newpass" class="col-4">&nbsp;&nbsp;新的密码：</label>
                                    <input type="text" id="newpass" class="form-control col-7"
                                           placeholder="请输入新的登录密码">
                                </div>
                                <div class="form-group row">
                                    <label for="findcode" class="col-4">&nbsp;&nbsp;邮箱验证码：</label>
                                    <input type="text" id="findcode" class="form-control col-4"
                                           placeholder="请输入邮箱验证码" onkeyup="doReset(event)">
                                    <button type="button" class="btn btn-primary col-3" onclick="doSendMail(this)">
                                        发送邮件
                                    </button>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <span>请输入注册邮箱地址并重置密码。&nbsp;&nbsp;</span>
                                <button type="button" class="btn btn-dark" data-dismiss="modal">关闭</button>
                                <button type="button" class="btn btn-primary" onclick="doReset(null)">重置密码</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


</body>
</html>