<!-- 右侧搜索和推荐-->
<div class="col-sm-3 col-12" style="border: none;padding-right: 0;padding-top: 15px">
    <div class="col-12 search-bar row" style="">
        <div class="col-8">
            <!--设置按下后弹起回车键时触发dosearch函数-->
            <input type="text" class="form-control" id="keyword" placeholder="请输入关键字" onkeyup="doSearch(event)" >
        </div>
        <div class="col-4" style="text-align:right;">
            <button type="button" class="btn btn-primary" onclick="doSearch(null)">搜索</button>
        </div>
    </div>
    <div class="col-12 side">
        <div class="tip">最新文章</div>
        <ul id="last">
            {% for row in last %}
            <li><a href="/article/{{row.articleid}}">{{loop.index}}.&nbsp;&nbsp;{{row.headline | truncate(4)}}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-12 side">
        <div class="tip">最多阅读</div>
        <ul id="most">
            {% for row in most %}
            <li><a href="/article/{{row.articleid}}">{{loop.index}}.&nbsp;&nbsp;{{row.headline| truncate(4)}}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-12 side">
        <div class="tip">特别推荐</div>
        <ul id="recommended">
            {% for row in recommended %}
            <li><a href="/article/{{row.articleid}}">{{loop.index}}.&nbsp;&nbsp;{{row.headline| truncate(4)}}</a></li>
            {% endfor %}
        </ul>
    </div>

</div>

<script type="text/javascript">
    function doSearch(e) {
        if (e != null && e.keyCode != 13) {
            return false;
        }
        var keyword = $.trim($('#keyword').val());
        // var keyword = $('#keyword').val();
        if (keyword.length == 0 || keyword.length > 10 || keyword.indexOf('%') >= 0) {
            window.alert("您输入的关键字不合法");
            // $("#keyword").focus();
            return false;
        }
        location.href = '/search/1-' + keyword;
    }
</script>