<!-- 右侧搜索和推荐-->
<script src="/static/js/vue.js"></script>
<div class="col-sm-3 col-12" style="border: none;padding-right: 0;padding-top: 15px">
    <div class="col-12 search-bar row" style="">
        <div class="col-8">
            <!--设置按下后弹起回车键时触发dosearch函数-->
            <input type="text" class="form-control" id="keyword" placeholder="请输入关键字" onkeyup="doSearch(event)">
        </div>
        <div class="col-4" style="text-align:right;">
            <button type="button" class="btn btn-primary" onclick="doSearch(null)">搜索</button>
        </div>
    </div>
    <div class="col-12 side">
        <div class="tip">最新文章</div>
        <ul id="last_article">
            <li v-for="(article,index) in content">
                <a v-bind:href="'/article/'+article[0]"> ${index+1}}.&nbsp;&nbsp;${article[1].substr(0,15)}}...</a>
            </li>
        </ul>
    </div>
    <div class="col-12 side">
        <div class="tip">最多阅读</div>
        <ul id="most_article">
            <li v-for="(article,index) in content">
                <a v-bind:href="'/article/'+article[0]">${index+1}}.&nbsp;&nbsp;${article[1].substr(0,15)}}...</a>
            </li>
        </ul>
    </div>
    <div class="col-12 side" id="fixedmenu">
        <div class="tip">特别推荐</div>
        <ul id="recommended_article">
            <li v-for="(article,index) in content">
                <a v-bind:href="'/article/'+article[0]">${index+1}}.&nbsp;&nbsp;${article[1].substr(0,15)}}...</a>
            </li>
        </ul>
        <div class="col-12 side" style="background-color: #3276b1; text-align: center; cursor: pointer;"
             onclick="gotoTop()">
            回到顶部
        </div>
    </div>

</div>

<script type="text/javascript">
    function doSearch(e) {
        if (e != null && e.keyCode != 13) {
            return false;
        }
        var keyword = $.trim($('#keyword').val());
        // var keyword = $('#keyword').val();
        if (keyword.length == 0 || keyword.length > 10 || keyword.indexOf('%') >= 0) {
            window.alert("您输入的关键字不合法");
            // $("#keyword").focus();
            return false;
        }
        location.href = '/search/1-' + keyword;
    }

    //利用js来截取字符串，中文1个，英文0.5个
    function truncate(headline, length) {
        var count = 0;
        var output = '';
        for (var i in headline) {
            output += headline.charAt(i);
            var code = headline.charCodeAt(i);
            if (code < 128) {
                count += 0.5;
            } else {
                count += 1;
            }
            if (count >= length) {
                break;
            }
        }
        return output + '...';
    }


    //在jQuery中表示文档加载完成后开始执行（不需要按钮或时间触发），window.load=function(){}
    $(document).ready(function () {
        //第一步：发送ajax请求去访问"/recommend"接口，获取JSON
        $.get('/recommend', function (data) {
            //获取响应并动态填充到 对应的推荐栏中
            var lastData = data[0];
            var mostData = data[1];
            var recommendedData = data[2];

            //最新文章
            var v1 = new Vue({
                el: "#last_article",
                data: {content: lastData},
                delimiters: ['${', '}}']
            });
            //最多阅读
            var v2 = new Vue({
                el: "#most_article",
                data: {content: mostData},
                delimiters: ['${', '}}']
            });
            //特别推荐
            var v3 = new Vue({
                el: "#recommended_article",
                data: {content: recommendedData},
                delimiters: ['${', '}}']
            });

        })
    });


    //判断特别推荐的右侧悬浮功能
    $(document).ready(function () {
        // 利用浏览器的user-agent属性判断浏览器类型
        var userAgentInfo = navigator.userAgent.toLowerCase();
        var agents = ["android", "iphone", "symbianOS", "windows phone", "ipad", "ipod"];
        var flag = true;    // 表示是PC端
        for (var v = 0; v < agents.length; v++) {
            if (userAgentInfo.indexOf(agents[v]) >= 0) {
                flag = false;   // 表示这是移动端
                break;
            }
        }

        // 是PC端时才进行右侧停靠
        if (flag == true) {
            var fixedDiv = document.getElementById("fixedmenu");
            var H = 0;
            var Y = fixedDiv;
            while (Y) {
                H += Y.offsetTop;
                Y = Y.offsetParent;
            }
            window.onscroll = function () {
                var s = document.body.scrollTop || document.documentElement.scrollTop;
                if (s > H + 500) {
                    fixedDiv.style = "position:fixed; top:0; margin-top:0; width: 306px;";
                } else {
                    fixedDiv.style = "";
                }
            }
        }
    });

    //回到顶部的功能
    function gotoTop() {
        $('html,body').animate({scrollTop: 0}, 500);
        return false;
    }

</script>